.Button {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  /* 패딩 위아래로는 10px 좌우 20px */
  font-size: 18px;
  white-space: nowrap;
  /* 버튼이 줄어들어도 줄바꿈 되지 않도록 노우랩 ㄱㄱ */
}

.Button_POSITIVE {
  background-color: rgb(100, 201, 100);
  color: white;
}

.Button_NEGATIVE {
  background-color: rgb(253, 86, 95);
  color: white;
}


