.today > input {
  background-color: rgb(236, 236, 236);
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.today_emotion {
  display: flex;
  flex-direction: column;
}

.today_emotion > div {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.today_diary > textarea {
  width: 100%;
  height: 300px;
  background-color: rgb(236, 236, 236);
  border: none;
  border-radius: 5px;
  resize: none;
  padding: 10px; /* 상하좌우 모두 20px만큼 띄우기 */
  box-sizing: border-box; /* 패딩을 넣어도 전체 너비가 깨지지 않게 설정 */
}

.footer_button {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
