.EmotionItem {
  background-color: rgb(236, 236, 236);
  min-width: 80px;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  gap: 10px;
}

.EmotionItem > img {
  min-width: 30px;
  height: 30px;
  cursor: pointer;
  padding-top: 15px;
}
